body {
  background-image: url(https://images8.alphacoders.com/679/679478.jpg);
  background-position: top;
  background-repeat: repeat;
  height: 190%; }
  body .carousel-inner {
    max-height: 45rem;
    border: solid 5px;
    border-bottom: solid 10px; }
  body .ContenedorTextoIntro {
    padding-top: 10px; }

.container-fluid {
  padding-bottom: 10px;
  padding-top: 10px; }

.nav-link {
  color: #ccb013;
  font-size: xx-large;
  border: solid 3px #ccb013;
  border-radius: 25px; }

.card {
  border: solid 6px #d89417;
  border-radius: 9px; }

.flex-container {
  display: flex;
  background: #2b2d2e;
  background: linear-gradient(90deg, #2b2d2e 15%, #f9d400 50%, #2b2d2e 85%);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  border-radius: 3px; }
  .flex-container .miboton {
    background: #222121;
    color: #ccb011;
    border: 1px solid #cb9304;
    padding: 10px 50px;
    border-radius: 13px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block; }
    .flex-container .miboton .miboton {
      transition-duration: 0.4s; }

.miboton:hover {
  background-color: #cb9304;
  color: black; }

.contenedor {
  background: #ffdcc8;
  background: linear-gradient(90deg, #ffdcc8 10%, #d7ad0e 50%, #ffdcc8 90%); }
