body {
  background-image: url(https://images8.alphacoders.com/679/679478.jpg);
  background-position: top;
  background-repeat: repeat; }
  body .contenedor-carousel {
    padding-top: 50px;
    padding-bottom: 30px; }
  body .carousel-inner {
    max-height: 45rem;
    border: solid 5px;
    border-bottom: solid 10px; }
  body .ContenedorTextoIntro {
    padding-top: 10px; }
    body .ContenedorTextoIntro .contenedor-carousel {
      padding-top: 50px;
      padding-bottom: 20px; }

.container-fluid {
  padding-bottom: 10px;
  padding-top: 10px; }

.nav-link {
  color: #ccb013;
  font-size: xx-large;
  border: solid 5px #ccb013;
  border-radius: 29px; }

.nav-item {
  padding-inline-start: 30px; }

.card {
  border: solid 3px #d89417;
  border-radius: 9px; }

.flex-container {
  display: flex;
  background: #2b2d2e;
  background: linear-gradient(90deg, #2b2d2e 15%, #f9d400 50%, #2b2d2e 85%);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  border-radius: 3px; }
  .flex-container .miboton {
    background: #222121;
    color: #ccb011;
    border: 1px solid #cb9304;
    padding: 10px 50px;
    border-radius: 13px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block; }
    .flex-container .miboton .miboton {
      transition-duration: 0.4s; }

.miboton:hover {
  background-color: #cb9304;
  color: black; }

.contenedor {
  background: #ffdcc8;
  background: linear-gradient(90deg, #ffdcc8 10%, #d7ad0e 50%, #ffdcc8 90%); }

.col {
  transform: scale(1);
  transform-origin: center center;
  transition: all 0.1s ease-out;
  opacity: 0.95; }

.col:hover {
  transform: scale(1.03);
  transition: all 0.5s ease-in 1s;
  transition-property: number;
  opacity: 1;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  transition-delay: 1s;
  border-radius: 10px; }

.cont-video {
  padding-bottom: 5vw; }
  .cont-video .video {
    border: solid 3px #cb9304;
    border-radius: 10px; }

.contBo {
  display: grid;
  place-content: center;
  padding-top: 20px;
  padding-bottom: 10px; }
  .contBo .tituloC {
    font-size: 3.5vw;
    text-align: center;
    padding-top: 7px;
    background-color: #ccb011;
    padding-bottom: 7px;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 30vw;
    color: #353434;
    text-decoration: underline; }
