//
//body {
// background-image: url(https://images8.alphacoders.com/679/679478.jpg);
//  background-position: center;
//  background-repeat: repeat;
//}

//.carousel-inner {
// max-height: 45rem;
// border: solid 5px;
//border-bottom: solid 10px;
//}

//.nav-link {
//color: rgb(204, 176, 19);
//  font-size: xx-large;
// border: solid 2px rgb(204, 176, 19);
// border-radius: 25px;
// }

//.card {
// border: solid 5px rgb(216, 148, 23);
//}

//.d-flex{
//  border: solid 5px;
//}

body {
  background-image: url(https://images8.alphacoders.com/679/679478.jpg);
  background-position: top;
  background-repeat: repeat;
  height: 190%;
  

  .carousel-inner {
    max-height: 45rem;
    border: solid 5px;
    border-bottom: solid 10px;
  }

  .ContenedorTextoIntro {
    padding-top: 10px;
  }
}

.container-fluid {
  padding-bottom: 10px;
  padding-top: 10px;
}
.nav-link {
  color: rgb(204, 176, 19);
  font-size: xx-large;
  border: solid 3px rgb(204, 176, 19);
  border-radius: 25px;
}

.card {
  border: solid 6px rgb(216, 148, 23);
  border-radius: 9px;
}


.flex-container {
  display: flex;
  background: rgb(43,45,46);
  background: linear-gradient(90deg, rgba(43,45,46,1) 15%, rgba(249,212,0,1) 50%, rgba(43,45,46,1) 85%);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  border-radius: 3px;

.miboton{
  background: #222121;
  color: #ccb011; 
  border: 1px solid rgb(203,147,4); 
  padding: 10px 50px;
  border-radius: 13px; 
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;

.miboton {
  transition-duration: 0.4s;
}
}
}

.miboton:hover {
  background-color: rgb(203,147,4); 
  color: black;
}

.contenedor {
  background: rgb(255,220,200);
  background: linear-gradient(90deg, rgba(255,220,200,1) 10%, rgba(215,173,14,1) 50%, rgba(255,220,200,1) 90%);
}




